@charset "UTF-8";
@font-face {
    font-family:'MADNESS_HYPERACTIVE';
    src: url('MADNESS_HYPERACTIVE.TTF') format('truetype');
}

:root {
    --vermelho-principal: #d83333;
    --verde-botoes: #147a04;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    color: #fff;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

section#login {
    display: flex;
    width: 100%;
    height: 100%;
}

a.go-home{
    text-decoration: none;
}



h1.nome-site{
    color: var(--vermelho-principal);
    font-family: 'MADNESS_HYPERACTIVE';
    font-weight: 400;
    font-size: 80px;
    text-align: center;
}


#formulario {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#imagem {
    flex: 1;
    background-size: cover;
}

div.campo {
    border: 2px solid var(--vermelho-principal);
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    margin: 10px 0px;
    position: relative;
}

div.campo > label {
    display: block;
    font-size: 1em;
}

div.campo > i {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}

div.campo > input {
    background-color: #000;
    color: #fff;
    font-size: 1em;
    flex: 1;
    border: 0px;
    border-radius: 8px;
    padding: 20px 15px;
    margin: 5px;
    outline: none;
}

form > input[type=submit] {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 50px;
    line-height: 40px;
    background-color: var(--vermelho-principal);
    color: #fff;
    border: 1px solid var(--vermelho-principal);
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: var(--vermelho-principal);
    border: 1px solid var(--vermelho-principal);
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

.cadastro-a{
    font-size: 1rem;
    margin-top: 10px;
}

.cadastro-a a{
    color: var(--vermelho-principal);
    text-decoration: underline;
}

@media (max-width: 768px) {
    #login {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imagem{
        display: none;
    }

    div.campo {
        height: 50px;
    }
    
    div.campo > i {
        font-size: 1.2em;
    }

    div.campo > input {
        font-size: 1em;
        padding: 12px 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #login {
        flex-direction: column; 
        align-items: center;
    }

    #imagem {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%; 
        height: auto; 
    }

    #formulario {
        width: 100%; 
        padding: 20px;
        box-sizing: border-box;
    }

    div.campo {
        height: 50px; 
    }

    div.campo > i {
        font-size: 1.2em;
    }

    div.campo > input {
        font-size: 1em;
        padding: 12px 15px;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }
}
