:root {
    --vermelho-principal: #d83333;
    --verde-botoes: #147a04;
}


.container-movie {
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.coluna {
    flex: 1;
    padding: 20px;
    margin: 10px;
    flex-direction: column; 
    align-items: center; 
}

.poster-container {
    text-align: center;
    margin: 10px;
}

.poster-container img{
    max-width: 30em;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 2em;
    
}

.poster-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.poster-container li {
    margin: 20px;
    max-width: 60px;
}

.poster-container i{
    font-size: 2rem;
    margin-bottom: 12px;
}

.poster-container p{
    color: #ffffff;
    font-size: 1rem;
}

.icon-lista{
    word-wrap: break-word;
}

.logo-container {
    text-align: center;
    margin: 10px;
}

.logo-container img {
    display: block; 
    margin: 0 auto;
    max-width: 100%; 
}


.rating {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
  
.rating__star {
    cursor: pointer;
    color: var(--vermelho-principal);
}

.box-review{
    text-align: center;
    margin: 0 auto;
    max-width: 700px; 
    padding: 20px;
    border-radius: 10px;
}

.box-review h3{
    color: #ffffff;
    font-weight: 300;
    text-align: left;
    margin: 5px;
}

.input-review {
    padding: 5px; 
    height: 176px;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    border-width: 1px;
    border-color: #d83333;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    resize: none;
}

.input-review:focus{
    outline: none;
}

.box-review button {
    display:inline-block;
    height:60px;
    line-height:60px;
    overflow:hidden;
    position:relative;
    text-align:center;
    background-color:#d83333;
    color:white;
    border-radius:2px;
    transition:0.3s;
    border-radius: 2rem;
    border: none;
    margin: 10px auto;
    
}
  
.label-down {
    display:block;
    margin:0px 30px;
    height:100%;
    position:relative;
    top:-100%;
    transition:0.3s;
}
  
.box-review button:hover .label-down {
    top:0%;
    cursor: pointer;
}
  
  
.box-review button:active {
    background-color: #d83333;
    outline: none;
    transform: translateY(2px);
}

.info-container {
    color: #ffffff;
    padding: 10px;
    margin: auto;
    height: 176px;
    width: 100%;
    max-width: 740px;
}

.info-container h3{
    text-align: start;
    font-weight: 600;
}

.info-container p{
    text-align: justify;
}
.info-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.info-container li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.info-container i{
    color: var(--vermelho-principal);
    font-size: 2rem;
    margin-bottom: 12px;
}


.info-container p{
    font-size: 1rem;
}


@media screen and (max-width: 769px) {
    html{
        font-size: 75%;
    }

    .container-movie {
        flex-direction: column;
    }

    .coluna {
        margin: 10px 0;
    }

    .poster-container img {
        width: 30em;
        max-width: 100%;
        height: auto;
    }
    
    
    .logo-container img{
        width: 300px;
        max-width: 100%;
        height: auto;
    }
    
}

@media screen and (max-width: 1024px) {
    html{
        font-size: 75%;
    }
}
@media screen and (max-width: 1440px) {
    html{
        font-size: 80%;
    }   
}
