.top-banner {
    display: flex;
    flex-direction: row;
}

  .coluna-esquerda {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.welcome-message{
    color: #fff;
    padding: 10px;
}

.welcome-message h1{
    font-size: 4rem;
    color: #D83333;
    font-weight: 700;
}

.welcome-message h4{
    font-size: 1.5rem;
    font-weight: 500;
}

.info-user{
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 10px;
}

.info-user h4{
    font-weight: 300;
    font-size: 1.5rem;
}

.info-user i{
    font-size: 1.8rem;
    padding: 5px;
}

.btn-newreview{
    background-color: #147a04;
    border-radius: 20px;
    color: #fff;

    cursor: pointer;
    text-decoration: none;
    font-size: 14px;

    padding: 20px;
}

.btn-newreview i{
    font-size: 1rem;
}

.btn-newreview{
    font-size: 1rem;
}
.carousel-inner .carousel-item img {
    max-width: 100%;
    max-height: auto;
}
  
.carousel {
    flex: 1;
    overflow: hidden;
    border-radius: 0 0 0 50px;
    height: fit-content;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.logo-image {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    width: 300px;
    height: auto;
    margin: 20px;
}

/* Estilos para a seção de filmes */
.popular-movies, .popular-series {
    margin: 20px;
    padding: 10px;
}

.popular-movies h2, .popular-series h2{
    font-weight: 300;
    color: #D83333;
    font-size: 1.7rem;
    margin-bottom: 10px;
}
/* Estilos para o contêiner de cards de filme */
.movie-cards, .series-cards {
    display: flex;
    flex-wrap: nowrap; /* Evita que os cards quebrem para a próxima linha */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
    cursor: pointer;
    
}

/* Estilos para cada card de filme */
.movie-card {
    flex: 0 0 auto; /* Os cards não se esticarão, eles terão um tamanho fixo */
    margin-right: 20px; /* Espaço entre os cards */
    overflow: hidden; /* Evita que o conteúdo transborde (opcional) */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    position: relative; /* Para posicionar o título dentro do card */ 
}

/* Estilos para a imagem dentro do card */
.movie-card img {
    width: 141px;
    height: 215px;
    border-radius: 14px;
}

/* Estilos para o título do filme dentro do card */
.movie-title {
    font-size: 1rem;
    color: #FFF;
    width: 100%;
    left: 0;
    max-width: 141px;
    margin-bottom: 15px;
}

  /*Celulares e tablets*/
@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }

    .top-banner{
        flex-direction: column-reverse;
    }

    .welcome-message, .info-user{
       margin: 15px;
    }

    .coluna-esquerda{
        width: 100%;
        margin-left: auto;
    }
   
    .info-user{
        margin: auto;
    }
   
    .info-user a{
        padding: 5px;
    }

    .carousel {
        border-radius: 0 0 50px 50px;
    }

    .logo-image {
        margin: 10px;
        width: 200px;
        height: auto;
    }

}

@media screen and (max-width: 1024px){
    html{
        font-size: 75%;
    }

    .top-banner{
        flex-direction: column-reverse;
    }

    .coluna-esquerda{
        width: 100%;
        margin-left: auto;
    }

}

@media screen and (max-width: 1440px) {
    html{
        font-size: 80%;
    }   
}
