:root {
    --vermelho-principal: #d83333;
    --verde-botoes: #147a04;
}

.titulo h1{
    font-size: 50px;
    margin-left: 20px;
}

.foto_perfil_usuario{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.usuario h3{
    font-size: 30px;
    font-weight: 400px;
    margin-left: 25px;
}

.usuario h1{
    margin-left: 25px;
    font-size: 50px;
}
.imagem_e_texto{
    display:flex;
    margin: 40px;
    flex-direction: inherit;
    border-bottom: 2px solid red;
}

.usuario{
    display:flex;
    flex-direction: column;
    justify-content: center;  
}

.trofeu{
    font-size: 50px;
}

.mascote_big{
    width: 450px;
    height: auto;
    margin-left: 20px;
}

.minhas_listas {
    display: flex;
}

.avaliaçoes,
.desejos {
    flex: 1;
    padding: 20px;
}

.poster{
    width: 93px;
    height: auto;
}

.card {
    background-color: black;
    width: calc(100%); /* Divide em duas colunas com um espaço de 10px entre elas */
    border: 1px solid #d83333;
    box-shadow: 0 2px 4px rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 45%;
}

.comentario {
    flex-grow: 1; /* Faz com que o texto ocupe todo o espaço restante à direita da imagem */
    padding: 10px; /* Adicione um pouco de preenchimento para espaçamento interno */
    max-width:45%;
    max-height: 45%;
    overflow-x: auto;
    overflow-y: auto;
}

.rating {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    flex-direction: column;
    margin-left: 5px;
}
  
.rating__star {
    color: var(--vermelho-principal);
    font-size: 1em;  
    flex-direction: block;
}

.ver_comentario{
    margin-left: 275px;
    margin-top: -41px;
}

button {
    background-color: #e71111; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
